section {
    width: 300px;
}

#intro {
    /* The float property places the element on the left or right side of its container:
    Any text flows around it. */
    float: left;
    width: 50px;
    margin-right: 15px;
}

.card {
    border: 3px dashed silver;
    width: 200px;
    text-align: center;
}

/* esta clase se aplica a la clase card y a su desendet no directo (que se representa con un espacio) y se aplica a todos los elementos img que haya dentro de el */
.card img {
    /* border: 3px solid red; */
    /* border-radius: 5px; */
    /* border-radius: 50%; */
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    opacity: 20%;
}
